<a class="btn btn-outline-light mb-3" href="/todos/new">Create</a>

<ul class="list-group mt-5">
  {{#each todos}}
  <li class="list-group-item">
    <div class="row">
      <div class="col-auto me-auto">
        <input style="vertical-align: middle" type="checkbox" name="isDone" {{#if this.isDone }} checked {{/if}}
          disabled>
        <h4 style="display: inline; vertical-align: middle;">
          {{this.name}}
        </h4>

      </div>
      <div class="col-auto">
        <a class="btn text-light" href="/todos/{{ this.id }}" style="background-color:#778ec9">detail</a>
        <a class="btn text-light" href="/todos/{{ this.id }}/edit" style="background-color:#82a9c9">edit</a>
        <form action="/todos/{{ this.id }}?_method=DELETE" method="post" style="display: inline;">
          <button class="btn text-light" type="submit" style="background-color:#c98888">delete</button>
        </form>
      </div>
    </div>
  </li>
  {{/each}}
</ul>