<form action="/todos" method="post" style="display: inline;">
  <div class="input-group mt-5">
    <input class="form-control" type="text" name="name" placeholder="請輸入內容">
    <button class="btn text-light" type="submit" style="background-color:#778ec9">add</button>
  </div>
</form>